{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "$connections": {
      "defaultValue": {},
      "type": "Object"
    },
    "internalApiKey": {
      "type": "SecureString"
    }
  },
  "triggers": {
    "When_email_arrives_in_Oliver_mailbox": {
      "type": "ApiConnectionNotification",
      "splitOn": "@triggerBody()?['value']",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['office365']['connectionId']"
          }
        },
        "method": "get",
        "path": "/v2/SharedMailbox/Mail/OnNewEmail",
        "queries": {
          "folderId": "Inbox",
          "importance": "Any",
          "includeAttachments": false,
          "mailboxAddress": "${mailbox_address}"
        }
      }
    }
  },
  "actions": {
    "Ignore_messages_sent_by_Oliver": {
      "type": "If",
      "expression": {
        "and": [
          {
            "not": {
              "equals": [
                "@toLower(triggerBody()?['from'])",
                "${mailbox_address}"
              ]
            }
          }
        ]
      },
      "actions": {
        "Call_Oliver_API": {
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "${oliver_api_url}",
            "headers": {
              "X-Internal-Api-Key": "@parameters('internalApiKey')",
              "Content-Type": "application/json"
            },
            "body": {
              "message_id": "@coalesce(triggerBody()?['internetMessageId'], triggerBody()?['id'])",
              "conversation_id": "@coalesce(triggerBody()?['conversationId'], triggerBody()?['id'])",
              "subject": "@triggerBody()?['subject']",
              "sender_email": "@triggerBody()?['from']",
              "recipient_emails": "@string(triggerBody()?['toRecipients'])",
              "received_at": "@triggerBody()?['receivedDateTime']",
              "email_thread": "@triggerBody()?['body']"
            }
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "inputs",
                "outputs"
              ]
            }
          }
        },
        "Reply_when_Oliver_requests_delivery": {
          "type": "If",
          "runAfter": {
            "Call_Oliver_API": [
              "Succeeded"
            ]
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@body('Call_Oliver_API')?['action']",
                  "SEND_EMAIL"
                ]
              }
            ]
          },
          "actions": {
            "Reply_to_original_email": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/v3/Mail/ReplyTo",
                "body": {
                  "Body": "@body('Call_Oliver_API')?['email_html']",
                  "mailboxAddress": "${mailbox_address}",
                  "messageId": "@triggerBody()?['id']",
                  "ReplyAll": false,
                  "Subject": "@body('Call_Oliver_API')?['subject']"
                }
              }
            }
          },
          "else": {
            "actions": {}
          }
        }
      },
      "else": {
        "actions": {}
      }
    }
  },
  "outputs": {}
}
