# Application
ENV=development
LOG_LEVEL=INFO
ANYIO_THREAD_POOL_TOKENS=200
OLIVER_CORS_ORIGINS=http://localhost:5173
DATABASE_URL=mssql+pyodbc://oliver_admin_reader:password@localhost:1433/oliver?driver=ODBC+Driver+18+for+SQL+Server&Encrypt=yes&TrustServerCertificate=no
